<!DOCTYPE html>
<html lang="en">

<head>
	<title>EmployeeTracker</title>
	<meta charset="utf-8" />
	{% load staticfiles %}
	<link rel="stylesheet" href="{% static 'personal/css/bootstrap.min.css' %}" type = "text/css"/>
	<meta name="viewport" content = "width=device-width, initial-scale=1.0">

	<style type="text/css">
		html,
		body {
		  height:100%
		}
		table.outset{border-style: outset;}
	</style>
</head>

<body class="body" style="background-color:#f6f6f6">
	<div class="container-fluid" style="min-height:95%; ">
		<div class="row">
			  <div class="col-sm-2">
				  <br>
				  <center>
					<img src="{% static 'personal/img/cover.jpg' %}" class="responsive-img" style='max-height:100px;' alt="face">
				  </center>
			  </div>
			  <div class="col-sm-10">
				  <br>
				  <center>
				  <h1 style="font-size: 400%; background-color: green; color: white">EmployeeTracker</h1>
				  </center>
			  </div>
		</div><hr>

		<div class="row">
		  <div class="col-sm-2">
		  <br>

		  <br>
		   <!-- Great, til you resize. -->
			<!--<div class="well bs-sidebar affix" id="sidebar" style="background-color:#fff">-->
			<div class="well bs-sidebar" id="sidebar" style="background-color:#fff">
				<p style="color: black; font-size: 15px">Welcome, {{ user.username }}</p>
				<li><a href='#'>Home</a></li>
				<li><a href='#'>Profile</a></li>
				<li><a href='/webapp/logout/'>Logout</a></li>
			  </ul>
			</div> <!--well bs-sidebar affix-->
		  </div> <!--col-sm-2-->
		  <div class="col-sm-10">

			<div class='container-fluid'>
			<br><br>
			   {% block content %}
			   		{% for d in data %}

			   		<div style="background-color: white;color:black;padding:25px;
			   		width:350px;display: inline-grid; font-size: 18px">
			   			Name: {{ d.name }}<br>
			   			Username: {{ d.username }}<br>
			   			Email: {{ d.email }}<br>
			   		</div>

			   		{% endfor %}
			   {% endblock %}
			</div>
		  </div>
		</div>
	</div>
	<footer>
		<div class="container-fluid" style='margin-left:15px'>
			<p>Developed By Shahrear Rahman</p>
		</div>
	</footer>

</body>

</html>
